[Unit]
Description=Groestlcoin daemon service
After=network.target

[Service]
Type=simple
User=groestlcoin
ExecStart=/usr/bin/groestlcoind

[Install]
WantedBy=multi-user.target
